
/*  Title:   font-family: 'Sofia', cursive;*/
/*Body:    font-family: 'Rancho', cursive;*/
/*Form:   font-family: 'Annie Use Your Telescope', cursive;*/


/*background images for each genre page*/
#classic-rock-background {

  background-image: url(./pics/classic-rock.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#country-background {

    background-image: url(./pics/country.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


#edm-background {

      background-image: url(./pics/edm.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

}

#jazz-background {

        background-image: url(./pics/jazz.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}

#pop-background {

        background-image: url(./pics/pop.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}

#rap-background {


        background-image: url(./pics/rap.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}




.nav-bar {

text-align: center;
display: inline-block;
padding-left: 1em;
padding-right: 1em;

}

header {

  font-family: 'Rancho', cursive;
  font-size: 20px;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  background-color: white;
  opacity: 0.7;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;

}


/*#nav-logo {

display: inline-block;
}*/

h1 {

  font-family: 'Sofia', cursive;
  font-size: 35px;
  display: inline;
  padding-left: 1em;
  padding-right: 1em;

}


ul {

  list-style-type: none;

}

#nav-about, #nav-index, #nav-bar, #nav-country, #nav-class-rock, #nav-jazz, #nav-pop, #nav-rap, #nav-edm {

  color: #333399;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;

}
