
/*  Title:   font-family: 'Sofia', cursive;*/
/*Body:    font-family: 'Rancho', cursive;*/
/*Form:   font-family: 'Annie Use Your Telescope', cursive;*/


/*header and nav-bar targeted to achieve proper coloring and padding*/

body {
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;

}

header {

  font-family: 'Smythe', cursive;;
  font-size: 30px;
  text-align: center;
  margin-top: 0;
  padding-right: 1em;
  padding-left: 1em;

}


#logo {
padding-top: 0;
padding-right: 2em;
padding-left: 0;
height: 10%;
width: 10%;
opacity: 0.9;
float: left;

}
/*nav bar styling Castro and Eve Collaboration*/
nav {

  margin-top: 1em;
  float: left;
}
.nav-bar {

text-align: center;
display: inline-block;
margin-top: 0;
padding-left: 1em;
padding-right: 1em;

}


/*Music Guru title in Nav-bar*/
h1 {

  font-family: 'Sofia', cursive;
  font-size: 40px;
  color: white;
  opacity: none;
  display: inline;
  padding-left: 1em;
  padding-right: 1em;

}

/*nav-bar list*/
ul {

  list-style-type: none;

}

/*target different items in nav bar for detailed stlying*/
#nav-about, #nav-index, #nav-bar, #nav-country, #nav-class-rock, #nav-jazz, #nav-pop, #nav-rap, #nav-edm {

  color: #DDFFF7;
  padding-right: 0.7em;
  padding-left: 0.7em;
  text-decoration: none;

}

/*name rendered onto genre page*/
#persistent-name {

font-family: 'Annie Use Your Telescope', cursive;
font-size: 40px;
color:white;
clear: left;
text-align: center;
margin-left: 40%;
margin-right: 40%;
}

/*submit button styling*/
#submit-button:hover{

  background-color: #1C2541;

}

#submit-button {

background-color: inherit;
border-radius: 0;
border: 3px #89FC00 ridge;
margin-top: 1.5em;
padding: 0;

}

#submit-button-text {

  font-family: 'Smythe', cursive;
  color: #89FC00;
  font-size: 25px;
  padding-top: 0;
  padding-right: 1em;
  padding-bottom: 0;
  padding-left: 1em;
}


/*background images for each genre page*/
#classic-rock-background {

  background-image: url(./pics/classic-rock.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
  font-size: 20px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#country-background {

    background-image: url(./pics/country.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    color: white;
    font-size: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}


#edm-background {

      background-image: url(./pics/edm.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-attachment: fixed;
      color: white;
      font-size: 20px;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

}

#jazz-background {

        background-image: url(./pics/jazz.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        color: white;
        font-size: 20px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}

#pop-background {

        background-image: url(./pics/pop.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        color: white;
        font-size: 20px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}

#rap-background {


        background-image: url(./pics/rap.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        color: white;
        font-size: 20px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;

}
