
/*Castro and Eve collaborating on index styling*/
/*header and nav-bar targeted to achieve proper coloring and padding*/
body {
margin-top: 0px;
margin-right: auto;
margin-bottom: 0px;
margin-left: auto;

}

header {

  font-family: 'Smythe', cursive;;
  font-size: 35px;
  text-align: center;
  margin-top: 0;
  padding-right: 1em;
  padding-left: 1em;

}

#logo {
padding-top: 0;
padding-right: 2em;
padding-left: 0;
height: 10%;
width: 10%;
opacity: 0.9;
float: left;

}
/*nav bar styling Castro and Eve Collaboration*/
nav {

  margin-top: 1em;
  float: left;
}
.nav-bar {

text-align: center;
display: inline-block;
margin-top: 0;
padding-left: 1em;
padding-right: 1em;

}

/*Music Guru title in Nav-bar*/
h1 {

  font-family: 'Sofia', cursive;
  font-size: 40px;
  color: white;
  opacity: none;
  display: inline;
  padding-left: 1em;
  padding-right: 1em;

}

/*nav-bar list*/
ul {

  list-style-type: none;

}

/*target different items in nav bar for detailed stlying*/
#nav-about, #nav-index, #nav-bar, #nav-country, #nav-class-rock, #nav-jazz, #nav-pop, #nav-rap, #nav-edm {

  color: #DDFFF7;
  padding-right: 0.7em;
  padding-left: 0.7em;
  text-decoration: none;

}

/*name input box styling*/
fieldset {

border: none;
font-family: 'Annie Use Your Telescope', cursive;
color: white;
font-size: 45px;
text-align: center;
margin-top: 0em;
padding-top: 2.8em;
margin-left: 20%;
margin-right: 20%;


}

legend {

visibility: hidden;

}

#name-line-break {

display: block;

}


#name-form{

  margin-top: 1.2em;

}

#submit-button:hover{

  background-color: #1C2541;

}

#submit-button {

background-color: inherit;
border-radius: 0;
border: 3px #89FC00 ridge;
margin-top: 1.5em;
padding: 0;

}

#submit-button-text {

  font-family: 'Smythe', cursive;
  color: #89FC00;
  font-size: 25px;
  padding-top: 0;
  padding-right: 1em;
  padding-bottom: 0;
  padding-left: 1em;
}

#name-input {

  border-radius: 5px;
  min-width: 250px;
  min-height: 30px;

}
/*If input is correct, text field is green. Otherwise, text field is red.*/
#name-input:focus:valid {
	background: rgb(220, 255, 220);
}

#name-input:focus:invalid {
	background: rgb(255, 232, 233);
}

#home-background {

  background-image: url(./pics/background-home-3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#about-background {

  background-image: url(./pics/about-us-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

/*p elements on about.html*/

.p-wrapper {
  background-color: pink;
  margin: auto;
  width: 90%;
  font-family: 'Annie Use Your Telescope', cursive;
  text-align: center;
  clear:both;
}
/*Havinghttps://jsfiddle.net/W74Z8/753/*/

.float-my-child-elements > *{
    float:left;
    margin-right:5px;
}

/* this is called a clearfix. it makes sure that the container's children floats are cleared, without using extra markup */

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/*  Title:   font-family: 'Sofia', cursive;*/
/*Body:    font-family: 'Rancho', cursive;*/
/*Form:   font-family: 'Annie Use Your Telescope', cursive;*/
/*Submit: font-family: 'Smythe', cursive;*/
